<ion-view  ng-controller="reportController">
<ion-header-bar align-title="center" class="bar-positive">
   <div class="buttons">
      <button class="button" ng-click="btnHome()">กลับ</button>
    </div>
    <h1 class="title">หน้าหลัก</h1>
    
    <div class="buttons">
      <button class="button">{{username}}</button>
    </div>
  </ion-header-bar>
<ion-content>
<ion-list>
  <ion-item>
    <a class="item" href="#/eclaim">
    เวชระเบียนที่ยังไม่ได้บันทึก E-CLAIM
  </a>

  </ion-item>
</ion-list>
</ion-content>

</ion-view>