
<ion-view view-title="" ng-controller="sendController">
  <ion-content>
   <div class="list">
  <label class="item item-input">
    <span class="input-label">Username</span>
    <input type="text">
  </label>
  <label class="item item-input">
    <span class="input-label">Password</span>
    <input type="password">
  </label>
   <label class="item item-input">
    <span class="input-label">AN</span>
    <input type="text" ng-model="an_text">
    
       
  </label>
  <button id="startScan" class="button button-positive" ng-click="scan()">
            Scan
        </button>
</div>
    
  </ion-content>
</ion-view>

